#!/bin/bash

# Garante que o Go esteja no PATH para este script
if [[ -d /opt/homebrew/bin ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
elif [[ -d /usr/local/go/bin ]]; then
    export PATH="/usr/local/go/bin:$HOME/go/bin:$PATH"
else
    export PATH="$HOME/go/bin:$PATH"
fi

# Lista de ferramentas para instalar
# Se você adicionar um item aqui, o hash muda e o chezmoi roda o script de novo
# Ferramentas: {{ list "golang.org/x/tools/gopls@latest" "github.com/sqls-server/sqls@latest" "github.com/go-delve/delve/cmd/dlv@latest" | join " " }}

tools=(
  "golang.org/x/tools/gopls@latest"
  "github.com/sqls-server/sqls@latest"
  "github.com/go-delve/delve/cmd/dlv@latest"
)

echo "Instalando/Atualizando ferramentas Go..."
for tool in "${tools[@]}"; do
  echo "Instalando $tool"
  go install "$tool"
done
