#!/bin/bash

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
# O comentário acima faz o chezmoi rodar este script sempre que o Brewfile mudar.

echo "Atualizando pacotes do Homebrew..."
brew bundle --global --file={{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}
