{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "Verificando Xcode Command Line Tools..."

# Verifica se o xcode-select já está instalado
if ! xcode-select -p &> /dev/null; then
    echo "Instalando Xcode Command Line Tools..."
    
    # Cria um arquivo temporário para enganar o instalador e fazê-lo rodar em modo não interativo
    touch /tmp/.com.apple.dt.CommandLineTools.installondemand.in-progress
    
    # Busca o nome do pacote de atualização de software mais recente para CLT
    PROD=$(softwareupdate -l | grep "\*.*Command Line" | head -n 1 | awk -F"*" '{print $2}' | sed -e 's/^ *//' | tr -d '\n')
    
    if [ -n "$PROD" ]; then
        echo "Instalando: $PROD"
        softwareupdate -i "$PROD" --verbose
    else
        echo "Nenhuma atualização de Command Line Tools encontrada via softwareupdate."
        # Fallback para o comando padrão caso o softwareupdate falhe
        xcode-select --install
    fi
    
    rm /tmp/.com.apple.dt.CommandLineTools.installondemand.in-progress
else
    echo "Xcode Command Line Tools já estão instaladas."
fi
{{ end -}}

